@{
    ViewData["Title"] = "About Us";
}

<p style="text-align:center;margin-top:25%;">
    ________to_deploy________<br /><br />PO | SM | TESTS: Waldemar -> ____mail____<br /><br />
    DEV: Martin -> ____mail____<br /><br />
    BEST REGARDS</p>
