@model SearchModel 
@{
    ViewData["Title"] = "Chat";
}

<head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page" />
    <meta name="keywords" content="html tutorial template" />
</head>
<body>
    <div class="global_container">
        <div class="page_header">AI Chat and work becomes easier</div>
        <form asp-action="Chat">
            <div class="window_present_new">
                <div class="form-group">
                    <label class="control-label">CHAT</label>
                    <textarea asp-for="Response" class="form-control" rows="20">
                        @Model.Response.ToString()
                </textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">PYTANIE</label>
                    <input asp-for="Prompt" class="form-control" onclick="this.select()"/>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Chat" class="btn btn-primary" />
                    <input type="submit" asp-for="Category" value="Java " class="btn btn-primary"/>
                    <input type="submit" asp-for="Category" value="C# " class="btn btn-primary" />
                    <input type="submit" asp-for="Category" value="SQL " class="btn btn-primary" />
                    <input type="submit" asp-for="Category" value="Python " class="btn btn-primary" />
                    <input type="submit" asp-for="Category" value=".Net " class="btn btn-primary" />
                </div>                
            </div> 
        </form>
    </div>
</body>

