@model SearchModel 
@{
    ViewData["Title"] = "Chat";
}

<head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page" />
    <meta name="keywords" content="html tutorial template" />
</head>
<body>
    <div class="global_container">
        <div class="page_header">AI Chat and work becomes easier</div>
        <div class="top_menu_buttons_container">
            <button class="top_menu_button" role="button">Java</button>
            <button class="top_menu_button" role="button">C#</button>
            <button class="top_menu_button" role="button">SQL</button>
            <button class="top_menu_button" role="button">Python</button>
            <button class="top_menu_button" role="button">.NET</button>
        </div>
        <div class="window_present_new">
            <form asp-action="Chat">
                <div class="form-group">
                    <label asp-for="Response" class="control-label"></label>
                    <textarea asp-for="Response" class="form-control" rows="20">
                        @Model.Response.ToString()
                </textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Prompt" class="control-label"></label>
                    <input asp-for="Prompt" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Chat" class="btn btn-primary" />
                </div>
            </form>
        </div>        
    </div>
</body>

