@model SearchModel
@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page" />
    <meta name="keywords" content="html tutorial template" />
</head>
<body>
    <div class="global_container">
        <div class="page_header">AI Chat and work becomes easier</div>
        <form asp-action="Index">
            <div class="window_present_new">
                <div class="form-group">
                    <label class="control-label">CHAT</label>
                    <textarea asp-for="Response" class="form-control" rows="20">
                        @Model.Response.ToString()
                </textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">PYTANIE</label>                                      
                </div>
                <div class="input-wrapper" style="display: flex;justify-content: space-between;">
                    <input asp-for="Prompt" class="form-control" style="flex-grow:1;" id="chatQuery" />
                    <input class="clear_button" type="button" id="clrBtn" onclick="document.getElementById('chatQuery').value=''" value="X">
                    <button id="askBtn" class="clear_button" style="flex-basis: 150px;flex-shrink: 0;">Ask a question</button>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Index" class="btn btn-primary" />
                    <input type="submit" asp-for="Category" value="Java " class="btn btn-primary" />
                    <input type="submit" asp-for="Category" value="C# " class="btn btn-primary" />
                    <input type="submit" asp-for="Category" value="SQL " class="btn btn-primary" />
                    <input type="submit" asp-for="Category" value="Python " class="btn btn-primary" />
                    <input type="submit" asp-for="Category" value=".Net " class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</body>