@model SearchModel
@{
    ViewData["Title"] = "News";
}

<head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page" />
    <meta name="keywords" content="html tutorial template" />
</head>
<body>
    <div class="global_container">
        <div class="page_header">Find information from the IT world</div>
        <div class="top_menu_buttons_container">
            <button class="top_menu_button" role="button">Testing</button>
            <button class="top_menu_button" role="button">Dev</button>
            <button class="top_menu_button" role="button">Systems</button>
            <button class="top_menu_button" role="button">CyberSec</button>
            <button class="top_menu_button" role="button">Other</button>
        </div>
        <div class="window_present">
        </div>
    </div>
</body>

